*{
    margin: 0;
    padding: 0;
    border-box: box-sizing;
}

:root{
    --font-body: "Nunito Sans", sans-serif;
    --font-nunito: "Nunito", sans-serif;


}

body{
    font-family: var(--font-body);
}

.header{
    width: 100%;
    background: #ffffff;
    height: fit-content;
    box-shadow: 0px 3px 3px 0px #0000000D;
}

.header-discount-content{
    height: 52px;
    background: #005CFF;
    padding: 0 2px;
    display: flex;
    align-items: center;
}

.header-discount-content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}


.header-price-box{
    background-color: #6220C1;
    padding: 0 2px;
}

.header-discount-content p .discount-span{
    font-style: italic;
    font-weight: 700;
}

.header-input,
.user-content,
.header-nav{
    display: none;
}

.header-second-content{
    display: flex;
    background-color: #FFFFFF;
    padding: 22px 0;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 22px;
}

.menu-buttom{
    background: none;
    border: none;
    outline: none;
}

.menu-buttom img{
    height: 21.38px;
}

.header-market-car-content{
    position: relative;

}

.header-cart-number{
    position: absolute;
    top: -0.75rem;   
    right: -0.75rem;
    width: 21px;
    height: 21px;
    background: #005CFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #FFFFFF;
    font-size: 12px;
    font-family: var(--font-nunito);
}

.header-input {
    display: flex;
    align-items: center;
    border: 1px solid #DDDDDD;
    width: 85%;
    order: 1; 
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
}

.header-input input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
}



.header-input input::placeholder{
    font-weight: 600;
    color: #000000;
    font-size: 14px;
}

.search-icon-content{
    display: flex;
    align: center;
}

.banner{
    background: #E7E7EA ;
    width: 100%;
    height: 306px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.banner-content{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

.img-banner{
    height: 100%;
    position: absolute;
    right: 50%;
}

.banner-text{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align:center;
    gap: 12px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.banner-text h2{
    font-family: var(--font-nunito);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
}

.banner-text span{
    font-weight: 300;
}

.banner-p-1{
    font-family: var(--font-nunito);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #005CFF;
}

.banner-p-2{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700; 
    font-family: var(--font-nunito);
    color: #005CFF;
}

.banner-circle{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.products{
    padding: 6rem 16px;
}

.products-title{
    font-weight: 700;
    font-size: 16px;
}

.products-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cards{
    width: 100%;
    display: flex;
    gap: 10px;
}

.card{
    height: 365px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: 174px;
}

.product-image{
    background-image: url('../img/productCardImg.svg');
    width: 158px;
    height: 158px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-stamp{
    width: 41px;
    height: 23px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    color: #ffffff;
    background-color: #00264E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    margin-left: 13px;
}


.card-text{
    margin: 0 7px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.card-title{
    font-size: 14px;
    font-weight: 400;
    color: #303030;

}

.container-prices{
    display: flex;
    gap: 10px;

}

.card-prices{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-prices-value{
    font-weight: 400;
    font-size: 12px;
    text-decoration: line-through;
}

.card-final-value{
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

.container-prices-span{
    background-color: #5EC0BE;
    height: 20px;
    width: 64px;
    border-radius: 4px;
    padding: 4px 8px;
    display: flex;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;  
    font-size: 11px; 
    justify-content:center;
    align-items: center;
}

.card-split-price{
    font-size: 12px;
    font-weight: 400;
    
}
.card-split-price span{
    font-weight: 700;
}

.card-buttom{
    margin: 0 7px;
    background: #005CFF;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 158px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.repeated-banner{
    width:100%;
    padding-top: 40px;
}

.repeated-banner-content{
    display: flex;
    flex-direction: column;
}

.bannerImg{
    width: 100%;
}

.repeated-banner-text{
    font-family: var(--font-nunito);
    display: flex;
    gap: 18px;
    flex-direction: column;
    padding: 38px 16px;
}

.repeated-banner-title{
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.repeated-banner-paragraph{
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.05em;
}

.banner-details{
    background-color: #DEDEDE;
    padding: 0 16px;
    height: 717px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-nunito);
    justify-content: space-evenly;
}

.banner-details-title{
    font-weight: 700;
    font-size: 20;
    line-height: 140%;
    leter-spacing: 0.04em;
    text-transform: uppercase;
}

.details-content{
    display: flex;
    gap: 10px;
    align-items: center;
}

.banner-details-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail-local{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005CFF;
    border-radius: 100%;
}

.detail-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    leter-spacing: 0.05em;
}

.last-banner,
.last-banner-image{
    width: 100%
}

.last-banner{
    padding-bottom: 38px;
}

.last-banner-image{
    background-image: url('../img/lastBanner.svg');
    background-size: cover;
    background-position: center;
    height: 449px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-banner-text{
    background-color: #005CFF;
    width: 100%;
    height: 75px;
    font-family: var(--font-nunito);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: #FFFFFF;
}


